<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245224518875-m3eanbk4bsh7gfddip3da4a32h2bb9p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245224518875-m3eanbk4bsh7gfddip3da4a32h2bb9p4</string>
	<key>API_KEY</key>
	<string>AIzaSyBsPD86T3E4LxSwQmM9UuoTwTRDnzRhYDc</string>
	<key>GCM_SENDER_ID</key>
	<string>245224518875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careCompanionApp</string>
	<key>PROJECT_ID</key>
	<string>care-companion-app</string>
	<key>STORAGE_BUCKET</key>
	<string>care-companion-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245224518875:ios:2e0a493fff3311ea5ec8fe</string>
</dict>
</plist>